div{
    border: solid 1px white;
   width: 400px;
  
    

}
img{
    width: 100%;
}
body{
    background-color: #212121;
}
h1{
    color: white;
    
}
h2{
    color: orange;
    font-size: 30px;
}
h3{
    color: rgb(233, 193, 118);
}