.barra-superior{
    
    
    display: flex;
    justify-content: space-between;
}
.barra-de-busca{
    width: fit-content;
    display: flex;
    align-items: center;
    
    

}
.barra-de-acoes{
    
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
   
    
    
}


img{
    height: 50px;
}

.bt-primario{
font-size: medium;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #999797;
color: #fff;
border: none;
border-radius: 20px;
padding: 15px;
}



.bt-secundario{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #999797;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px;
    }
    
        .bt-terciario{
            font-size: medium;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: #999797;
            color: #fff;
            border: none;
            border-radius: 20px;
            padding: 15px;
        }

        .bt-secundario:hover{
            background-color: #2f2f2f;
        }
            .bt-primario:hover{
                background-color: #2f2f2f;
                }
                    .bt-terciario:hover{
                        background-color: #2f2f2f;
                    }

            .avatar{
                background-color: #f1f0f0;
                
                border: solid 2px rgb(182, 172, 172);
                border-radius: 36px;
                height: 36px;
                width: 36px;
                
            }
            .avatar:hover{
                filter:brightness(85%);
            }
           